---
# Only the main Sass file needs front matter (the dashes are enough)
---
$sans-serif: 'Noto Sans KR';
$monospace: 'Ubuntu Mono';
$type-size-4-5: 1.12em !default; // Ubuntu Mono is a bit small

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials